body {font-family: "Nunito Sans", Calibri, sans-serif;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-areas:
       "header"
       "main"
       "footer";
	
      background-color: #ffffff;
      color: 04010e;
      background-size:cover;
      background-repeat: no-repeat;
      text-align: left;
      font-size: 16px;
      }

h1, h2, h3, h4 {font-family: "Nunito Sans", Calibri, sans-serif;
                  text-align: left;}
h1{      font-size: 4em;
         color: rgba(255, 255, 255, 1);
         margin: 25px}


header {
background-color: white;
text-align:center;
font-size: 18px;
border-radius: 10px;
}

footer {
text-align:center;
font-size: 14px;
color: black;
}

main{
     display: grid;
     grid-template-rows: 1fr;
background-color: rgb(255, 255, 255);
}

hr {
  height: 2px;
  width: 20%;
  border-width:0;
  background-color:#bfa9a8;
}

img {
  width: auto ;
  height: auto ;
}

.logo img{
height: 200px;
}

.first-bin {
  position: relative;
  display: inline-block;
  overflow: hidden;
  
}

.first-bin img {
display: inline-block;
position: relative;
text-align: center;
width: 100%;
}

.first-bin-box {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #001e27; 
  color: #ffffff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}

.first-bin-box a:link {color: #bbd47f; text-decoration: none;}

.navigation {
  display: flex;
  position: sticky;
  padding: 10px;
  
  top: 0px;
  background: rgb(255, 255, 255);
  color: rgb(150, 121, 121);
  justify-content: center;
  font-size: 1 rem;

  z-index: 100;
  border-bottom: solid 4px #007691;
}

.navigation img {
  margin-bottom: 0px;
  width: 200px;
}

.navigation a {
  border-bottom: none;
  color: #8eae50;
}

.navigation i {
  margin: 0px;
  padding: 10px;
}

.navigation .top-arrow {
  right: 0px;
  position: absolute;
}

.navigation .home-button {
left: 0px;
position: absolute;
}

.mainwrapper{
position: relative;  
justify-content: center;
align-items: center;
}

.mainpage-box{
position: absolute;
top: 10%;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
width: 100px; 

z-index: 1;

background-color: rgb(255, 255, 255);
color: #32403b;
width: 93%;

text-align: left;
font-size: 18px;
border-radius: 10px;
padding: 25px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.homeribbon{
padding: 0px;

margin: 5px;
background-color: #5c0010;
color: white;
width: 100px;
display: inline-block;
}

.box {
text-align:center;
justify: center;
}
.bg {
background-color: white;
text-align:left;
width: 97%;
display: inline-block;
box-shadow: 0 0 11px rgba(33,33,33,.5);
}
.essay {
background-color: white;
text-align:left;
font-size: 15px;
padding: 10px;
margin: 10px;
display: inline-block;
}
.entirebox{
background-color: white;
}

.indexcontent-box{
background-color: rgba(255, 255, 255, 1);
color: #32403b;
border: 0px solid #667a6e;

z-index: 1;
text-align: left;
font-size: 18px;
border-radius:10px;
padding: 0 25px 0 25px;
}

.main-nav{
padding: 2px;
background-color: #870700;
color: white;
text-align: center;
font-size: 18px;
border-radius:10px;
padding: 0 0 0 0;
}

.main-section-holder {
display: grid;
grid-template-columns: repeat(auto-fill,minmax(435px,1fr));
gap: 1em;
padding: 0px 10px 0px 10px;
}
.column {
    position: relative;
    border-radius: .25em;
    overflow: hidden
}
@media only screen and (max-width: 600px) {
    .main-section-holder {
        grid-template-columns:repeat(auto-fill,minmax(250px,1fr))
    }
}

a:link {color: #34440e; text-decoration: none;}
a:visited {color: #436e3f; text-decoration: none;}
a:hover{color: #95b092; text-decoration: none;}
a:active{color: black; text-decoration: none;}


.filterbox {
  text-align: center;
  margin: 0 auto;
  width: 95%;
  background: #ffffff;
  position: relative;
  padding: 15px;
  color: #0e3f3b;
  font-size: 20px;
}

.filterbox .filters {padding:10px 35px 0 35px;}
.filterbox ul {padding:0;}

.filterbox li {
  list-style-type: none;
  display: inline-block;
}

.filterbox li a {
  color: #006e61;
  padding: 5px;
  margin: 0 5px;
}

.filterbox ul b {
  margin: 0 5px;
  color: #081427;
}

.grid{
background: #ffffff;
text-align: center;
}

.quote-container{
overflow: hidden; 
}

.grid .item {
  text-align: center;
  display: block;
  float: left;
  width: 31%;
  box-sizing: border-box;
  border-radius: 10px;
  margin:1%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.item img{
  position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
  transition: ease-in 0.1s;
  text-align: center;
}
.item img:hover{
  transform: scale(1.05)
}

.text {text-align:left;}


.selected {
  color: #fff;
  border-bottom-color: #97c5e0;
  font-weight: bold;
}

.item {
font-size: 16px;
}

.TLname{
  font-size: 20px;
}

.link{}
.link a {
  padding: 5px 15px;
  background: #025653;
  border: 1px solid #859575;
  color: #fff;
  transition: 0.4s ease;
  font-size: 15px;
  overflow: hidden;
}

.tos{}
.tos a {
  transition: 0.4s ease;
  font-size: 15px;
  overflow: hidden;
}

.detail-text{
font-size: 15px;
}

.detail-text b{
font-size: 15px;
color: #084731;
}

.detail-text a {
color: #bbd47f;
}

.preview-thumbnail img{
  max-width: 240px;
  border-radius: 30%;
}

@media only screen and (max-width: 600px) {
  .logo img{height: 130px;}
  .filterbox {width: 95%; font-size: 21px;}
  .grid {width: 100%}
  .grid .item {width: 48%; display: inline-block; gap: 5px}
  .preview-thumbnail{max-width: 100%;}
  .first-bin img {position: relative; width: 90%; height: 300px;}
  .first-bin-box {position: absolute; width: 90%; height: 300px;}
  .navigation img {width: 130px;}
  }

  .socials {
    font-size: 20px;
    color:rgb(193, 212, 98);
  }

  .socials a {color: #5d4784; text-decoration: none;}